<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - E Corp Bank</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <style>
        body {
            background-color: #030303;
            color: white;
        }
        form {
            display: block;
            width: 50%;
            padding-bottom: 8%;
            margin: 0 auto;
        }
        .btn {color: white}
        footer {
            text-align: center;

        }
        img {
            padding-bottom: 0;
            margin: 2%;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center" >
    <div>
        <img class="img-fluid" src="/images/ECorp.png" width="20%" height="20%" alt="E Corp Bank" />
    </div>
    <form th:action="@{/templates/login}" method="post" >

        <div th:if="${param.error}">
            <p class="text-danger">Invalid username and password.</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>Sign in</p>
            <p>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF" required autofocus/>
            </p>
            <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
            </p>
            <p>
                <input type="button" value="Register" class="btn" />
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
        </div>
    </form>
</div>
</body>
</html>