<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>E Corp Bank | Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body {
            background-color: #030303;
            color: white;
        }
        form {
            display: block;
            width: 50%;
            padding-bottom: 8%;
            margin: 0 auto;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10%;
            padding-bottom: 0;
        }
        input {
            color: white;
        }
    </style>
</head>
<body>
<div class="container" >
    <div>
        <img class="responsive-img" src="/images/ECorp.png" width="30%" height="30%" alt="E Corp Bank" />
    </div>
    <form method="post" >

<!--        <div th:if="${param.error}">-->
<!--            <p class="card-panel orange">Invalid username and password.</p>-->
<!--        </div>-->

<!--        <div th:if="${param.logout}">-->
<!--            <p class="card-panel red">You have been logged out.</p>-->
<!--        </div>-->

<!--        <div class="progress">-->
<!--            <div class="indeterminate"></div>-->
<!--        </div>-->

        <div class="input-field col s12">
            <p>Sign in</p>
            <div class="row">
                <div class="input-field">
                    <input id="cpf" type="text" class="validate" required>
                    <label for="cpf">CPF</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="password" type="text" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <p style="text-align: right">
                <input type="button" value="Register" class="btn black" href="redirect:/register" style="color: white"/>
                <input type="submit" value="Login" class="btn white" style="color: black"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>